{% comment %}
  Code à récupérer pour le flow back in stock Klaviyo
{% endcomment %}

{% comment %}  A coller dans le fichier theme.liquid juste avant le </body> {% endcomment %}
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
  var klaviyo = klaviyo || [];
  klaviyo.init({
    account: '{{ api_key }}',
    platform: 'shopify',
  });
  klaviyo.enable('backinstock', {
    trigger: {
      product_page_text: 'Prevenez-moi de son retour',
      product_page_class: 'klaviyo-bis-trigger',
      product_page_text_align: 'center',
      product_page_margin: '0px',
      replace_anchor: false,
    },
    modal: {
      headline: '{product_name}',
      body_content: 'S’inscrire pour recevoir une notification lorsque l’article sera de nouveau en stock.',
      email_field_label: 'Email',
      button_label: 'Prevenez-moi de son retour',
      subscription_success_label: 'Tu es bien inscrite !',
      footer_content: '',
      additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
      drop_background_color: '#000',
      background_color: '#fff',
      text_color: '#222',
      button_text_color: '#fff',
      button_background_color: '#000',
      close_button_color: '#ccc',
      error_background_color: '#fcd6d7',
      error_text_color: '#C72E2F',
      success_background_color: '#d3efcd',
      success_text_color: '#1B9500',
    },
  });
</script>

<a class="klaviyo-bis-trigger button button--full-width" href="#">Prévenez-moi de son retour</a>
